/* CSS declarations go here */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f1f1f1;
  list-style: none;
}


.below-nav {
  margin-top: 5rem;
  text-align: center;
  font-size: 500%;
}

#about-text{
  margin: 0 auto;
}

#feedback-form{
  display: block;
  margin: auto;
}

.container{
  text-align: center;
}

.feedback-head{
  width: 100%;
  background-image: url('../images/NMH_Dining_Hall.jpg');
  background-attachment: fixed;
}

#menulist-header{
  width: 100%;
  background-image: url('../images/donut2.jpg');
  background-attachment: fixed;
  padding : 8rem 0 8rem 0;
}

.item{
  list-style: none;
}

.feedback-head-text{
  padding : 10rem 0 10rem 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
