/* CSS declarations go here */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f1f1f1;
}


.below-nav {
  margin-top: 5rem;
  text-align: center;
  font-size: 500%;
}

.about {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 40px;
}

.container {
  text-align: center;
}
